#logo a{
	color: #fff;
	font-family: "Poppins", "sans-serif";
	font-size: 30px;
	font-weight: bold;
	-moz-transition: 0.4s;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	text-shadow: 1px 1px 5px #000;
}