#fixi{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	-moz-transition: 0.4s;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

#aligny{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
